{% from "macros.html" import nav_link with context %}
<html>
   <head>
      {% if title %}
      <title>{{ title }} - SMS Mail</title>
      {% else %}
      <title>smsMail</title>
      {% endif %}
      <!-- jQuery -->
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <!-- FontAwesome -->
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
      <!-- Bootstrap core CSS -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
      <!-- Bootstrap core JS -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="static/css/smsMail.css">
   </head>
   <body>
      <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="{{ url_for('index') }}">SMS Mail</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   {{ nav_link('index', 'Home') }}
                   {% if g.user.is_authenticated %}
                   {{ nav_link('users', 'Users') }}
                   {% endif %}
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  {% if g.user.is_authenticated %}
                  <li>
                     <p class="navbar-text">Hi, {{ g.user.firstName }}</p>
                  </li>
                  <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                  {% else %}
                  <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  {% endif %}
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
         <!--/.container-fluid -->
      </nav>
      <div class="container">
		<div>
		  {% with messages = get_flashed_messages(with_categories=true) %}
			  {% if messages %}
				{% for category, message in messages %}
					{% if category == 'message' %}
					  <div class="alert alert-warning" role="alert">
					{% else %}
					  <div class="alert alert-{{ category }}" role="alert">
					{% endif %}
					  {{ message }}
					</div>
				{% endfor %}
			  {% endif %}
		  {% endwith %}
		</div>
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
         {% block content %}{% endblock %}
      </div>
      <div class="footer">
         <div class="container">
            <p class="text-muted">Made with <span class="glyphicon glyphicon-heart"></span> by Thomas Willingham</p>
         </div>
      </div>
   </body>
</html>
