<html>
  <head>
    {% if title %}
    <title>smsMail - {{ title }}</title>
    {% else %}
    <title>smsMail</title>
    {% endif %}
    <link rel="stylesheet" href="static/css/smsMail.css">
  </head>
  <body>
    <div>Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        {% if g.user.is_authenticated %}
            | <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            | <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
